<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
          <!--  <div class="intro-heading">Ekalaiva Photography</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>-->
        </div>
    </div>
</header>

<!-- Portfolio Section -->

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <h3 class="section-subheading text-muted">****sub caption if needed****.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link"
                   data-aos="fade-down-right">
                    <div class="portfolio-hover">
                    </div>
                      <img src="/../../assets/img/portfolio/portfolio1-sm.jpg" class="img-responsive" alt="">

                </a>
                <div class="portfolio-caption">
                    <h4>Title 1</h4>
                    <p class="text-muted">Caption 1</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item" data-aos="flip-left"
              data-aos-easing="ease-out-cubic"  data-aos-duration="1000">
                <a href="#portfolioModal2" class="portfolio-link"   >
                  <div class="portfolio-hover">
                  </div>
                    <img src="/../../assets/img/portfolio/portfolio2-sm.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Title 2</h4>
                    <p class="text-muted">Caption 2</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item" data-aos="flip-right"
              data-aos-easing="ease-out-cubic"  data-aos-duration="2000">
                <a href="#portfolioModal3" class="portfolio-link" >
                  <div class="portfolio-hover">
                  </div>
                    <img src="/../../assets/img/portfolio/portfolio3-sm.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Title 3</h4>
                    <p class="text-muted">Caption 3</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item" data-aos="zoom-in-down"
              data-aos-easing="ease-out-cubic"  data-aos-duration="1000">
                <a href="#portfolioModal4" class="portfolio-link"   >
                  <div class="portfolio-hover">
                  </div>
                    <img src="/../../assets/img/portfolio/portfolio4-sm.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Title 4</h4>
                    <p class="text-muted">Caption 4</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item" data-aos="flip-down"
                data-aos-easing="ease-out-cubic"  data-aos-duration="1500">
                <a href="#portfolioModal5" class="portfolio-link"   >
                  <div class="portfolio-hover">
                  </div>
                    <img src="/../../assets/img/portfolio/portfolio5-sm.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Title 5</h4>
                    <p class="text-muted">Caption 5</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item" data-aos="flip-left"
              data-aos-easing="ease-out-cubic"  data-aos-duration="2500">
                <a href="#portfolioModal6" class="portfolio-link"   >
                  <div class="portfolio-hover">
                  </div>
                    <img src="/../../assets/img/portfolio/portfolio6-sm.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Title 6</h4>
                    <p class="text-muted">Caption 6</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- second section - just picture -->
<section id="message" class="story-section">
  <div class="container">
      <div class="story-section-text">
          <div class="intro-lead-in">"Capturing the moments of today that will wow your heart tomorrow"</div>
      </div>
  </div>
</section>

<section id="aboutus" class="about-us">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading" style="padding-bottom:50px">About us</h2>
      </div>
  </div>
    <div class="row">
      <div class="col-lg-6" id="about-us1">
        <img src="../../assets/img/aboutus.jpg" class="img-responsive" alt="about us" width="800px" height="600px">
      </div>
      <div class="col-lg-6">
          <p class="aboutus-desc">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
              This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company.
              Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you dfferent from your competitors. Make your company stand out and show your visitors who you are.
          </p>
      </div>
  </div>
</section>
